body {
    font-family: 'Merriweather', serif;
    margin: 0;
}

.banner {
    position: relative;
    width: 1200px;
    height: 600px;
    margin: 50px auto 0;
    border-radius: 16px;
    overflow: hidden;
    padding-bottom: 20px;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url('../resources/Banner Image.png') center/cover no-repeat;
    border-radius: 16px;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.content h1,
.content h6 {
    text-align: center;
    margin: 0;
}

.content h1 {
    color: #fff;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
}

.content h6 {
    color: #fff;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

.section-title1,
.section-title2,
.section-title3 {
    text-align: center;
}

.section-title1,
.section-title2 {
    color: #F00;
    font-family: Inter;
}

.section-title1 {
    font-size: 88px;
    font-weight: 700;
}

.section-title2 {
    font-size: 24px;
    font-weight: 500;
}

.section-title3 {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.newyear {
    padding: 0 390px;
}

.party {
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url('../resources/Vectorrr.png') center/cover no-repeat;
    border-radius: 10px;
    position: relative;
    width: 1100px;
    height: 500px;
    margin: 50px auto 0;
    overflow: hidden;
}

.party-title {
    margin-top: 5px;
    margin-bottom: 20px;
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
}

.party-description {
    margin-top: 5px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

.party-content {
    max-width: 500px;
}

.place-title {
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    margin: 0;
}

.text-primary {
    color: #F00;
}

.btn-primary {
    border-radius: 5px;
    background: #F00;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.join {
    text-align: center;
    margin-top: 50px;
}

.contrast {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    padding: 100px;
}

#place-padding {
    padding: 30px 30px 0px 150px;
    align-items: center;
}

.offer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.newoffer {
    font-size: 24px;
    font-weight: 400;
    color: #FF0000;
    text-align: left;
}

.offer-title {
    font-size: 48px;
    font-weight: 800;
    color: #070211;
    padding: 10px 0;
    text-align: left;
}

.offer-description {
    width: 393px;
    font-size: 20px;
    color: #070211;
    text-align: left;
}

.sec-offer {
    width: 364px;
    height: 364px;
    margin: auto;
}

.ellipse {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px solid #FF0000;
    padding: 15px;
}

.thir-offer {
    padding-right: 0;
}

.thir-offer-title {
    font-size: 48px;
    text-align: left;
    font-weight: bold;
    color: #FF0000;
    padding-bottom: 15px;
}

.thir-offer-description {
    width: 276px;
    font-size: 20px;
    color: #070211;
    padding-bottom: 30px;
}

.image{
    width: 140px;
    height: 140px;
}

/* Gift Section Styles */
.gift {
    color: #F00;
}

.gift-pera {
    color: rgba(7, 2, 17, 0.60);
    width: 896px;
}

.gift-padding {
    padding: 100px;
    text-align: left;
}

.gift-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.gift-item {
    position: relative;
    width: 424px;
    height: 450px;
    border-radius: 16px;
    overflow: hidden;
}

.gift-image {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: lightgray 50% / cover no-repeat;
    transition: transform 0.3s ease-in-out;
}

.gift-item:hover .gift-image {
    transform: scale(1.1);
    background: lightgray 50% / cover no-repeat;
}

.gift-item:nth-child(1) .gift-image {
    background-image: url('resources/pic1.png');
}

.gift-item:nth-child(2) .gift-image {
    background-image: url('resources/pic2.png');
}

.gift-item:nth-child(3) .gift-image {
    background-image: url('resources/pic3.png');
}

.gift-item:nth-child(4) .gift-image {
    background-image: url('resources/pic4.png');
}

.gift-item:nth-child(5) .gift-image {
    background-image: url('resources/pic5.png');
}

.gift-item:nth-child(6) .gift-image {
    background-image: url('resources/pic6.png');
}


.gift-item:nth-child(4) .gift-image {
    background-image: url('resources/pic4.png');
}

.gift-item:nth-child(5) .gift-image {
    background-image: url('resources/pic5.png');
}

.gift-item:nth-child(6) .gift-image {
    background-image: url('resources/pic6.png');
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    background: rgba(255, 0, 0, 0.05);
    padding: 30px 150px 0 30px;
    width: 1320px;
    height: 616px;
}

.email-description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 0 300px; /* Top/Bottom, Right/Left */
}

.emailhead {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.slider-container {
    display: flex;
    align-items: center;
}

form {
    display: flex;
    align-items: center; /* Align items vertically in the middle */
}

form input {
    border: none;
    padding: 10px;
    border-radius: 50px 0 0 50px;
}

.email-button {
    border: none;
    padding: 10px 20px;
    background: #F00;
    color: white;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    margin-left: -1px; /* Add a negative margin to remove the small gap between input and button */
}
.footer-container {
    background-color: #080018;
    padding: 100px 0;
    margin-top: 75px;
}

.footerend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.ftext {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}

.fcontainer-list {
    display: block;
    align-items: center;
    margin-right: 200px;
}

.flist-iteam {
    list-style: none;
    margin-top: 5px;
}

.flist-iteam img {
    margin-top: 5px;
    width: 24px;
    height: 24px;
}

.flist-iteam a {
    font-size: 25px;
    font-weight: 300;
    color: #FFFFFF;
    padding-left: 10px;
    text-decoration: none;
}

.icontainer {
    padding: 40px 0;
}

.icontainer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icontainer li ul{
    margin: 0 15px;
}

.icontainer li img ul {
    width: 60px;
    height: 60px;
}

.hr {
    background: #FF0000;
}

.lastcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}

.lastcontainer-text {
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
}

